@page
@model SistemaSGI.Pages.Proveedoress.IndexModel
@{
    ViewData["Title"] = "Lista de Proveedoress";


}
<div class=" = " container">
    <div class="row">
        <div class=" = " col-9">
            <h2 class=" text-info"> Lista de Proveedoress </h2>
        </div>
        <div class="col-3">
            <a class="btn btn-secondary" asp-page="/Proveedoress/Crear">Crear nueva Administrador</a>
        </div>
        <br />
        <br />
        @if (Model.Proveedoress.Count() > 0)
        {
            <table id="tblProveedoress" class="table table-striped table-bordered" style="width: 100%;">
                <thead>
                    <tr>
                        
                        <th>Id </th>
                        <th>Nombre</th>
                        <th>Direccion </th>
                        <th>Email</th>
                        <th>Telefono </th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var Proveedoress in Model.Proveedoress)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => Proveedoress.Id)   </td>
                            <td> @Html.DisplayFor(m => Proveedoress.nombre)   </td>
                          
                            <td>@Html.DisplayFor(m => Proveedoress.direccion)   </td>
                            <td> @Html.DisplayFor(m => Proveedoress.email)   </td>
                            <td>@Html.DisplayFor(m => Proveedoress.telefono)   </td>

                            <td>
                                <a class="btn btn-success" asp-page="../Proveedoress/Detalle" asp-route-id="@Proveedoress.Id"> Detalles</a>
                                <a class="btn btn-warning" asp-page="../Proveedoress/Editar" asp-route-id="@Proveedoress.Id"> Editar</a>
                                <a class="btn btn-danger" asp-page="../Proveedoress/Eliminar" asp-route-id="@Proveedoress.Id"> Eliminar</a>


                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        }
        else
        {
            <p> no hay Proveedoress</p>
        }

    </div>

</div>